	@import "includes/base";

// Grid settings
$number-of-columns: 12;
$default-column-width: 5.701754 / 100;
$default-column-margin: 2.631579 / 100;
$content-max-width: 1170px; // That's where fluid becomes fixed
$content-min-width: 936px; // That's where fluid becomes fixed
$base-vertical-margin: 20px; // The mother of all margins. Usually = base line height
$base-horizontal-margin: $base-vertical-margin; // Usually equal vertical margin, but can be customized

$bm: $base-vertical-margin; // Shortcut

// Media queries
$media-desktop: "screen and (max-width: 1210px)"; // 1024-1280
$media-desk: "screen and (max-width: 1279px)"; // 1024-1280
$media-tablet: "screen and (max-width: 1023px)"; // 768-1024
$media-phone-landscape: "screen and (max-width: 767px)"; // 480-767 (large phones included, ipad vertical - not)
$media-phone: "screen and (max-width: 479px)"; // 320-479 (iphone 4 landscape not included)
$media-retina: "screen and (min-device-pixel-ratio: 1.5) and (min-width: 1024px), screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px)";

$media-mobile: $media-phone-landscape;
$media-not-mobile: "screen and (min-width: 768px)";

$mobile-outer-margin: 12px;

$header-height: 72px;

$color-red: #eb212e;
$color-blue: #00B4FF;
$color-green: #6ADE3D;
$color-orange: #FFC104;

$base-font-size: 18px;

@import "includes/grid";


@mixin font-heavy {
	font-family: "fira-sans-2", sans-serif;
	font-weight: 700
}
@mixin font-regular {
	font-family: "fira-sans-2", sans-serif;
	font-weight: 600
}
@mixin font-medium {
	font-family: "fira-sans", sans-serif;
	font-weight: 500
}
@mixin clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
@mixin margin($val: $bm) {
	margin-top: $val;
	margin-bottom: $val;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
@mixin heading() {
	@include font-heavy;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 30px;
}
@mixin font-size($val, $base: $base-font-size) {
	font-size: percentage($val / $base)
}

body {
	//background: url('../img/landing_preview.jpg') center top no-repeat;
	//min-height: 5708px;
	background: white;
	@include font-regular;
	color: black;
	font-size: $base-font-size;
	line-height: 1.4;
	@media screen and (max-width: 1260px) {
		font-size: 17px;
	}
	@media screen and (max-width: 1200px) {
		font-size: 16px;
	}
	@media screen and (max-width: 1120px) {
		font-size: 15px;
	}
	@media screen and (max-width: 1050px) {
		font-size: 14px;
	}
}

.layout {
	position: relative;
	overflow-x: hidden;
	min-width: 1000px;
	&__center {
		margin-left: 7%;
		margin-right: 7%;
	}
	&__columns {
		@include columnizerParent;
	}
	&__overflow {
		margin-left: -7%;
		margin-right: -7%;
	}
	&__overflow-left {
		margin-left: -7%;
	}
	&__overflow-right {
		margin-right: -7%;
	}
	&__modal {
		max-width: 1100px;
	}
	@media screen and (min-width: 1280px) {
		&__center {
			width: 1100px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	@media #{$media-mobile} {
		min-width: 0;
		&__center {
			margin-left: $mobile-outer-margin;
			margin-right: $mobile-outer-margin;
		}
	}
}

.header {
	height: $header-height;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;

	background: rgba(5,24,68,0.76);
	color: white;

	z-index: 20;

	&__logo {
		@include columnizer(2 2 2 3 5);
		padding-top: 10px;
	}
	&__logo-img {
		width: 101px;
	}
	&__title {
		@include columnizer(5.5 5.5 5.5 7 4);
		@include font-medium;
		text-transform: uppercase;
		letter-spacing: 3px;
		@include font-size(24px);
		line-height: 1.15;
		padding-top: 20px;
		text-align: center;
	}
	&__social {
		@include columnizer(2);
		text-align: center;
		padding-top: 20px;
	}
	&__phone {
		@include columnizer(2.5 2.5 2.5 2 3);
		@include font-medium;
		@include font-size(24px);
		line-height: 1.15;
		padding-top: 20px;
		text-align: right;
		a {
			color: white;
			text-decoration: none;
		}
	}
	@media screen and (max-width: 1260px) {
		&__title, &__social, &__phone {
			padding-top: 22px;
		}
	}
	@media screen and (max-width: 1200px) {
		&__title, &__social, &__phone {
			padding-top: 24px;
		}
	}
	@media screen and (max-width: 1120px) {
		&__title, &__social, &__phone {
			padding-top: 26px;
		}
	}
	@media screen and (max-width: 1050px) {
		&__title, &__social, &__phone {
			padding-top: 26px;
		}
	}
	@media #{$media-phone-landscape} {
		position: static;
		background: rgba(5,24,68,1);
		height: 50px;
		&__logo {
			padding-top: 5px;
		}
		&__logo-img {
			width: 80px;
		}
		&__social {
			display: none;
		}
		&__title {
			letter-spacing: 2px;
			@include font-size(18px);
			line-height: 1.15;
			padding-top: 17px;
			text-align: center;
		}
		&__phone {
			padding-top: 15px;
			a {
				&:before {
					content: '';
					width: 1em;
					height: 1em;
					display: inline-block;
					background: url('../img/icon-phone.svg') left top no-repeat;
					background-size: contain;
				}
				span {
					display: none;
				}
			}
		}
	}
	@media #{$media-phone} {
		&__title {
			letter-spacing: 0;
			@include font-size(16px);
			line-height: 1.15;
			padding-top: 5px;
			text-align: left;
		}
	}
}

.intro {
	height: 100vmin;
	position: relative;
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: url('../img/intro_bg.jpg') center center no-repeat;
		background-size: cover;
		z-index: -1;
		@media #{$media-retina} {
			background-image: url('../img/intro_bg@2x.jpg');
		}
	}

	&__title {
		@include columnizerOffset(7);
		@include font-heavy;
		@include font-size(66px);
		line-height: 1.15;
		letter-spacing: 1.5px;
		//margin-top: 200px;
		margin-top: 22vmin;
		color: black;
	}
	&.is-var2 {
		.intro {
			&__bg {
				background: url('../img/intro_bg2.jpg') center center no-repeat;
				background-size: cover;
				@media #{$media-retina} {
					background-image: url('../img/intro_bg2@2x.jpg');
				}
			}

			&__title {
				@include columnizer(4);
				margin-top: 35vmin;
			}
		}
	}
	@media #{$media-phone-landscape} {
		height: 0;
		padding-top: 50%;
		.layout__center {
			position: absolute;
			left: $mobile-outer-margin;
			right: $mobile-outer-margin;
			top: 0;
			bottom: 0;
			margin-left: 0;
			margin-right: 0;
		}
		&__title, &.is-var2 .intro__title {
			width: 55%;
			letter-spacing: 0;
			@include font-size(40px);
			margin-top: 30%;
		}
	}
	@media #{$media-phone} {
		padding-top: 69.24%;
		&__title, &.is-var2 .intro__title {
			width: 100%;
			@include font-size(32px);
			margin-top: 50%;
		}
	}
}

.features {
	padding-top: 75px;
	background: white url('../img/bg-poly1.svg') 0% 100% no-repeat;
	background-size: 64%;
	min-height: 820px;
	&__main {
		@include columnizer(6 6 6 7 12);
	}
	&__aside {
		@include columnizer(5 5 5 5 12);
		@include columnizerOffset(1 1 1 0 0);
	}
	&__heading {
		@include font-medium;
		@include font-size(38px);
		line-height: 1.15;
		color: #0060cc;
		margin-right: -20px;
	}
	&__list {
		list-style: none;
		padding-left: 0;
		margin-top: 45px;
		margin-right: -45px;
	}
	&__item {
		@include clearfix;
		@include margin(35px);
	}
	&__about {
		@include font-size(22px);
		line-height: 1.9;
	}
	&__wow {
		@include font-heavy;
		@include font-size(54px);
		line-height: 1.05;
		margin-top: 68px;
		width: 60%;
	}
	&__icon {
		float: left;
		width: 70px;
		margin-right: 15px;
		min-height: 70px;
		padding-top: 4px;
		img {
			width: 100%;
		}
	}
	&__title {
		@include font-size(28px);
		line-height: 1.15;
		margin-bottom: 10px;
	}
	&__text {
		overflow-x: hidden;
	}
	&__button {
		margin-top: 65px;
	}
	@media #{$media-phone-landscape} {
		padding-top: 30px;
		background-position: 0 -70px;
		background-size: 70%;
		min-height: 0;
		&__list {
			margin-right: 0;
			margin-top: 20px;
		}
		&__icon {
			float: left;
			width: 50px;
			margin-right: 15px;
			min-height: 70px;
			padding-top: 4px;
			img {
				width: 100%;
			}
		}
		&__item {
			@include margin(20px);
		}
		&__aside {
			margin-top: 0
		}
		&__about {
			@include font-size(22px);
			line-height: 1.4;
		}
		&__wow {
			margin-top: 30px;
		}
		&__button {
			margin-top: 30px;
		}
	}
	@media #{$media-phone} {
		background-size: 90%;
		
		&__aside {
			margin-top: 40px;
		}
	}
}

.button {
	display: inline-block;
	color: $color-red;
	@include font-medium;
	@include font-size(22px);
	line-height: 1;
	text-decoration: none;
	border: 2px solid $color-red;
	padding: 18px 22px;
	transition: all 0.5s ease;
	cursor: pointer;
	&:hover {
		background: $color-red;
		color: white;
	}
}

.feedback {
	position: relative;
	margin-top: -40px;
	z-index: 1;
	&__main {
		@include columnizer(7 7 7 12 12);
		padding-top: 78px;
	}
	&__heading {
		@include heading;
		margin-bottom: 30px;
	}
	&__list {
		list-style: none;
		padding-left: 0;
	}
	&__item {
		@include margin(45px);
	}
	&__title {
		@include font-medium;
		@include font-size(24px);
		line-height: 1.15;
	}
	&__text {
		font-style: italic;
		line-height: 1.6;
		margin-top: 35px;
		margin-left: -25px;
		margin-right: 0;
		padding: 0px 25px 15px 25px;
		position: relative;
		background: url('../img/speech-bubble.svg') left bottom no-repeat;
		background-size: 100%;
		&:before {
			content: '';
			position: absolute;
			height: 35px;
			left: 0;
			right: 0;
			top: -35px;
			background: url('../img/speech-bubble.svg') left top no-repeat;
			background-size: 100%;
		}
	}
	&__bg {
		position: absolute;
		right: 5%;
		top: 0;
		bottom: 0;
		left: 60%;
		background: url('../img/bg-trophy.jpg') left top no-repeat;
		background-size: contain;
		z-index: -1;
	}

	@media #{$media-mobile} {
		&__bg {
			display: none;
		}
		&__text {
			margin-left: 0;
			line-height: 1.4;
			background: none;
			border: 1px solid $color-blue;
			border-radius: 10px;
			padding: 20px;
			margin-top: 10px;
			&:before {
				display: none;
			}
		}
	}
}

.gallery {
	@include margin(60px);
	&__list {
		height: 660px;
		overflow-y: hidden;
	}
	&__item {
		display: block;
		height: 660px;
		margin-left: 15px;
		margin-right: 15px;
		opacity: 0.5;
		&.slick-active {
			opacity: 1;
		}
	}
	&__next,
	&__prev {
		width: 48px;
		height: 48px;
		position: absolute;
		top: 50%;
		margin-top: -24px;
		z-index: 10;
		cursor: pointer;
	}
	&__next {
		right: 0;
		background: white url('../img/gallery-next.svg') 50% 50% no-repeat;
		background-size: 50%;
		&:hover {
			background-color: #103351;
		}
	}
	&__prev {
		left: 0;
		background: white url('../img/gallery-prev.svg') 50% 50% no-repeat;
		background-size: 50%;
		&:hover {
			background-color: #103351;
		}
	}
	@media #{$media-mobile} {
		&__list, &__item {
			height: 300px;
		}
		
	}
}

.about {
	@include margin(75px);
	@include font-size(22px);
	line-height: 1.9;
	&__left,
	&__right {
		@include columnizer(6 6 6 12);
	}
	@media #{$media-mobile} {
		@include margin(40px);
		&__left, &__right {
			@include font-size(18px);
			line-height: 1.4;
			@include margin(20px);
		}
	}
}

.couches {
	@include margin(90px);
	min-height: 40em;
	position: relative;
	perspective: 800px;
	&__heading {
		@include heading;
		text-align: center;
	}
	&__title {
		@include font-medium;
		@include font-size(28px);
		margin-bottom: 20px;
		line-height: 1;
	}
	&__list {
		position: relative;
	}
	&__item {
		position: absolute;
		box-sizing: border-box;
		&.is-first {
			left: -3.33em;
			width: 35em;
			height: 35em;
			top: -3.88em;
			padding-top: 10.27em;
			padding-left: 18.88em;
			padding-right: 2.77em;
			background: url('../img/couch1.png') left top no-repeat;
			background-size: contain;
		}
		&.is-third {
			right: -3.33em;
			top: -3.88em;
			width: 35em;
			height: 35em;
			padding-top: 8.88em;
			padding-left: 4.44em;
			padding-right: 14.44em;
			background: url('../img/couch3.png') left top no-repeat;
			background-size: contain;
		}
	}
	&__button {
		position: absolute;
		left: 50%;
		bottom: 0px;
		margin-left: -10em;
	}
	@media #{$media-mobile} {
		@include margin(40px);
		min-height: auto;
		&__item {
			position: static;
			box-sizing: border-box;

			&.is-first {
				width: auto;
				height: auto;
				margin-bottom: 30px;
				padding: 0;
				background: none;
				.couches__image {
					background: url('../img/couch1mob.png') left top no-repeat;
					background-size: contain;
				}
			}
			&.is-third {
				width: auto;
				height: auto;
				margin: 0;
				padding: 0;
				background: none;
				.couches__image {
					background: url('../img/couch3mob.png') left top no-repeat;
					background-size: contain;
				}
			}
		}
		&__image {
			width: 120px;
			height: 120px;
			margin-left: -20px;
			margin-right: 10px;
			float: left;
		}
		&__text {
			overflow: hidden;
		}
		&__button {
			position: static;
			margin-top: 30px;
			margin-left: 0;
		}
	}
}

.places {
	margin-top: 80px;
	margin-bottom: 80px;
	&__map {
		@include columnizer(7);
		.layout__overflow-left {
			margin-left: -13.8%;
		}
	}
	&__map-container {
		min-height: 680px;
		position: relative;
	}
	#graymap {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
	&__description {
		@include columnizer(5);
	}
	&__heading {
		@include heading;
		margin-bottom: 45px;
	}
	&__item {
		@include margin(30px);
	}
	&__label {
		float: left;
		width: 40px;
		height: 40px;
		background: $color-red;
		@include font-medium;
		@include font-size(26px);
		line-height: 40px;
		color: white;
		text-align: center;
		margin-right: 20px;
		&.is-first {
			background: $color-blue;
		}
		&.is-second {
			background: $color-red;
		}
		&.is-third {
			background: $color-green;
		}
		&.is-fourth {
			background: $color-orange;
		}
		&.is-wait {
			background: white url('../img/icon-wait.svg') center center no-repeat;
			background-size: 20px 20px;
			border: 1px solid #b2b2b2;
			overflow: hidden;
			text-indent: 100%;
		}
	}
	&__title {
		@include font-medium;
		@include font-size(24px);
		line-height: 1.25;
		margin-bottom: 10px;
	}
	&__text {
		margin-left: 60px;
		@include font-size(20px);
		line-height: 1.3;
	}
	&__item.is-under-construction {
		.places__text span {
			background: #ffea00;
		}
	}
	@media #{$media-phone-landscape} {
		@include margin(30px);
		.layout__columns {
			margin-left: 0;
			display: flex;
			flex-direction: column;
		}
		
		&__map, &__description {
			float: none;
			width: auto;
			margin-left: 0;
		}
		&__map {
			margin-top: 30px;
			margin-right: - $mobile-outer-margin;
			order: 2;
		}
		&__description {
			order: 1;
		}
		&__map-container {
			min-height: 300px;
		}
		&__item {
			width: 50%;
			float: left;
			margin-top: 0;
			margin-bottom: 30px;
			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}
	@media #{$media-phone} {
		&__item {
			width: auto;
			float: none;
		}
	}
}

.form {
	@include margin(40px);
	&__heading {
		@include heading;
		text-align: center;
		margin-bottom: 40px;
	}
	&__box {
		border: 3px solid $color-red;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&__main {
		@include columnizer(6);
		padding-left: 40px;
	}
	&__aside {
		@include columnizer(5);
		@include columnizerOffset(1);
		padding-right: 40px;
	}
	&__field {
		@include clearfix;
		@include margin(30px);
		&.is-buttons {
			margin-top: 35px;
		}
	}
	&__title {
		float: left;
		width: 30%;
		box-sizing: border-box;
		padding-right: 15px;
		text-align: right;
		@include font-medium;
		@include font-size(26px);
		line-height: 1;
		padding-top: 5px;
	}
	&__input {
		float: left;
		width: 70%;
	}
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	select {
		width: 100%;
		border: 1px solid #b9b9b9;
		@include font-size(22px);
		height: 2em;
		padding: 5px 18px;
	}
	input, select {
		&.is-error {
			border-color: $color-red;
			background-color: #ffeeee;
		}
	}
	&__disclaimer {
		@include font-size(19px);
		line-height: 1.37;
		a {
			color: black;
		}
	}
	.button {
		@include font-size(24px);
		padding: 22px 20px;
	}
	&__aside-item {
		@include font-size(20px);
		strong {
			@include font-medium;
		}
		p {
			@include margin(20px);
		}
		a {
			color: black;
		}
		&:nth-child(1) {
			@include font-size(28px);
			line-height: 1.3;
		}
		&:nth-child(3) {
			@include font-size(24px);
		}
	}
	&__aside-items {
		min-height: 458px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__complete {
		display: none;
	}
	form.is-complete {
		.form__complete {
			display: block;
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;
		}
		.form__main, .form__aside {
			display: none;
		}
	}

	@media #{$media-mobile} {
		.layout__columns {
			margin-left: 0;
		}
		&__main, &__aside {
			float: none;
			width: auto;
			margin-left: 0;
			@include margin(30px);
			padding: 10px;
		}
		&__box {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&__title, &__input {
			float: none;
			width: auto;
		}
		&__title {
			text-align: left;
			margin-bottom: 10px;
			&.is-empty {
				display: none;
			}
		}
		&__field {
			@include margin(20px);
		}
		&__aside-items {
			min-height: 0;
		}
		&__aside-item {
			@include margin(10px);
		}
	}
}

.footer {
	height: 60px;
	background: #02191E;
	color: white;
	box-sizing: border-box;
	padding-top: 22px;
	@include font-size(14px);
	line-height: 1;

	&__copyright,
	&__email,
	&__social {
		display: inline-block;
		margin-left: 40px;
	}
	&__copyright {
		margin-left: 0;
	}
	&__phone {
		float: right;
		@include font-size(24px);
		line-height: 14px;
	}
	a {
		color: white;
	}
	&__sponsor {
		float: right;
		width: 178px;
		height: 34px;
		text-align: right;
		background: url('../img/pinkovsport_logo.png') right center no-repeat;
		background-size: 178px 34px;
		margin-top: -7px;
		span {
			display: none;
		}
	}
	@media #{$media-mobile} {
		height: auto;
		padding-bottom: 20px;
		padding-top: 20px;
		.layout__center {
			display: flex;
			flex-direction: column;
		}
		&__copyright,
		&__email,
		&__social {
			display: block;
			margin-left: 0;
		}
		&__sponsor {
			float: none;
		}
		&__social {
			order: 1;
			margin-bottom: 20px;
		}
		&__email {
			order: 2;
			margin-bottom: 20px;
		}
		&__sponsor {
			order: 3;
			margin-bottom: 10px;
		}
		&__copyright {
			order: 4;
		}
	}

}

.social {
	&__item {
		display: inline-block;
		margin-right: 20px;
		a {
			text-decoration: none;
			&:before {
				content: '';
				display: inline-block;
				width: 1.5em;
				height: 1.5em;
				vertical-align: middle;
				margin-right: 0.5em;
				background: url('../img/icon-fb.svg') center center no-repeat;
				background-size: contain;
			}
			&.is-fb:before {
				background-image: url('../img/icon-fb.svg');
			}
			&.is-vk:before {
				background-image: url('../img/icon-vk.svg');
				width: 1.8em;
			}
			&.is-instagram:before {
				background-image: url('../img/icon-instagram.svg');
			}
		}
		&.is-icon-only {
			margin-right: 10px;
			a:before {
				margin-right: 0;
			}
			span {
				display: none;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.content-area {
	h1, h2, h3, h4, h5, h6 {
		@include font-heavy;
		&:first-child {
			margin-top: 0;
		}
	}
	h1 {
		@include font-size(56px);
	}
	h2 {
		@include font-size(48px);
	}
	h3 {
		@include font-size(32px);
	}
	h4 {
		@include font-size(24px);
	}
	h5 {
		@include font-size(18px);
	}
	h6 {
		@include font-size(14px);
	}
	a {
		color: $color-red;
	}
	p, div, ul, ol {
		@include margin;
	}
	li {
		@include margin(5px);
	}
	strong, b {
		@include font-medium;
	}
}