doctype html
//
                         .-.
                        /\\|
   _     _      __     /\\\|
  ;.\---/.; .-"`  `'. /\\\\/
  / =   = \"          \\\\/
  ~(@/:\@)~       /   |--`
     \ /,        |    ;
      ` | /,/'"'"\,   ;
        )/)/      )/ )/
        " "      "- "-  ejm/jgs/ldb/nuki


html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="stylesheet" type="text/css", href="/js/slick/slick.css")
    link(rel="stylesheet" type="text/css", href="/js/fancybox/jquery.fancybox.min.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src="https://use.typekit.net/hbf2das.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
    block head_end
	
  body
    block content
		
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(type="text/javascript" src="/js/slick/slick.min.js")
    script(type="text/javascript" src="/js/fancybox/jquery.fancybox.min.js")
    script(type="text/javascript" src="/js/jquery.maskedinput.js")
    script(type="text/javascript" src="/js/scrollreveal/scrollreveal.min.js")
    script(type="text/javascript" src="/js/skrollr.min.js")
    block body_end